*{
    
    margin: 0%;
    padding: 0%;
}
body{color:#4d4e53;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
    font-size: 20px;
}

#sidebar{
    width: 300px;
    border-right: 2px solid black;
    height: 100vh; 
    position: fixed;
    background-color: rgb(238, 238, 238);
}
#sidebar > ul {
    margin-top: 20px;
    height: 88%;padding: 0;
    /* border: 1px solid red; */
    overflow-y: auto;
    overflow-x: hidden;
}
#sidebar ul  li{
    text-decoration: none;
    list-style-type: none;
    padding: 10px 20px;
    border: 1px solid black;
    transition: .5s ease;
    /* width: 300px; */
    
}
#sidebar > ul > li:hover{
    background-color: black;
    
}
#sidebar > ul > li:hover >a{
    color: white;
}
#sidebar > ul > li > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: .5s ease;
}
.nav-item{
    display: block;
    padding:10px 30px;
    color:#4d4e53;
    text-decoration: none;
    cursor: pointer;
}
pre
{
    color:rgb(244, 185, 96);
}
#documentation{
    position: absolute;
    margin-left: 310px;
}
.display-3{
    text-align: center;
    font-size: 55px;   
}
header{
    width: 100%;
    /* border: 1px solid blue; */
    text-align: center;
}
#Introduction{
    padding: 1px;
    /* border: 1px solid blue; */
}
.section > h1{
    font-size: 30px;
}
ul{
    padding: 20px 50px;
}
ul >li{
    font-size: 20px;
}
.section > .bg > pre{
    font-size: 14px;
    padding: 10px;
}
.bg{
    margin-left: 40px;
}
img{
    width:500px;
    height:400px;
}